In [1]:
# Import the dependencies.
import pandas as pd
from path import Path

In [2]:
# Load John_Day data
file_path = Path("NOAA_csv/Bonneville_Dam_OR.csv")
bv_weather_df = pd.read_csv(file_path, skiprows=1)

In [3]:
bv_weather_df

,Date,TAVG (Degrees Fahrenheit),TMAX (Degrees Fahrenheit),TMIN (Degrees Fahrenheit),PRCP (Inches),SNOW (Inches),SNWD (Inches)
0,1937-12-01,NaN,42.0,36.0,0.00,0.0,NaN
1,1937-12-02,NaN,45.0,34.0,0.05,0.0,NaN
2,1937-12-03,NaN,50.0,44.0,0.17,0.0,NaN
3,1937-12-04,NaN,49.0,31.0,0.00,0.0,NaN
4,1937-12-05,NaN,46.0,37.0,0.00,0.0,NaN
...,...,...,...,...,...,...,...
30705,2022-02-02,NaN,40.0,36.0,0.29,0.0,0.0
30706,2022-02-03,NaN,43.0,35.0,0.16,0.0,0.0
30707,2022-02-04,NaN,41.0,33.0,0.00,0.0,0.0
30708,2022-02-05,NaN,48.0,34.0,0.04,0.0,0.0
30709,2022-02-06,NaN,53.0,37.0,0.05,0.0,0.0

In [4]:
bv_weather_df.dtypes

Date                          object
TAVG (Degrees Fahrenheit)    float64
TMAX (Degrees Fahrenheit)    float64
TMIN (Degrees Fahrenheit)    float64
PRCP (Inches)                float64
SNOW (Inches)                float64
SNWD (Inches)                float64
dtype: object

In [6]:
# Remove Average Temp and Snow Data
bv_weather_df.drop(['TAVG (Degrees Fahrenheit)','SNWD (Inches)','SNOW (Inches)'], axis=1, inplace=True)

In [7]:
# Check start date
bv_weather_df.head()

,Date,TMAX (Degrees Fahrenheit),TMIN (Degrees Fahrenheit),PRCP (Inches)
0,1937-12-01,42.0,36.0,0.00
1,1937-12-02,45.0,34.0,0.05
2,1937-12-03,50.0,44.0,0.17
3,1937-12-04,49.0,31.0,0.00
4,1937-12-05,46.0,37.0,0.00

In [8]:
# Check end date
bv_weather_df.tail()

,Date,TMAX (Degrees Fahrenheit),TMIN (Degrees Fahrenheit),PRCP (Inches)
30705,2022-02-02,40.0,36.0,0.29
30706,2022-02-03,43.0,35.0,0.16
30707,2022-02-04,41.0,33.0,0.00
30708,2022-02-05,48.0,34.0,0.04
30709,2022-02-06,53.0,37.0,0.05