In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

In [2]:
file_path = Path('Resources/ColumbiaBasin_combined_count.csv')
df = pd.read_csv(file_path)

In [3]:
df.head(12)

,Year,Code,Location Name,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Total
0,2013,116.0,BIG CR (CLATSOP CO),47,0,0,0,0,0,0,0,0,0,9,80,136
1,2013,116.0,BIG CR (CLATSOP CO),0,0,0,0,0,0,0,0,0,0,0,0,0
2,2013,122.0,CLACKAMAS R BELOW CARVER BRIDGE,146,339,769,109,31,5,0,0,0,0,11,64,1474
3,2013,122.0,CLACKAMAS R BELOW CARVER BRIDGE,0,0,40,47,58,89,61,9,38,5,3,2,352
4,2013,123.0,CLATSKANIE R,0,0,5,0,0,0,0,0,0,0,0,9,14
5,2013,123.0,CLATSKANIE R,0,0,0,0,0,0,0,0,0,0,0,0,0
6,2013,131.0,DESCHUTES R BELOW SHERAR FALLS,0,0,0,0,0,0,0,0,0,0,0,0,0
7,2013,131.0,DESCHUTES R BELOW SHERAR FALLS,9,24,5,5,0,0,155,927,1567,739,127,85,3643
8,2013,132.0,EAGLE CR (CLACK R),9,24,14,0,0,5,5,0,0,0,0,5,61
9,2013,132.0,EAGLE CR (CLACK R),0,0,0,0,0,0,0,0,0,0,0,0,0
10,2013,133.0,EAGLE CR (COLUMBIA R),0,0,0,0,0,0,0,0,0,0,0,5,5
11,2013,133.0,EAGLE CR (COLUMBIA R),0,0,0,0,0,0,0,9,9,0,0,0,19