In [4]:
# Dependencies
import pandas as pd
import glob

In [11]:
# Create path to files, join, create df                            #https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe
df = pd.concat(map(pd.read_csv, glob.glob('Resources/*.csv')))
df

,Project,Date,Chinook Run,Chin,JChin,Stlhd,WStlhd,Sock,Coho,JCoho,Shad,Lmpry,BTrout,Chum,Pink,TempC
0,Bonneville,1990-03-15,Sp,2.0,NaN,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.7
1,Bonneville,1990-03-16,Sp,1.0,NaN,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2
2,Bonneville,1990-03-17,Sp,2.0,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.7
3,Bonneville,1990-03-18,Sp,1.0,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2
4,Bonneville,1990-03-19,Sp,NaN,NaN,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Steelhead Counts: The Steelhead parameter incl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,wild steelhead data was not published on a dai...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,steelhead and may include unmarked hatchery fish.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Chinook Run Dates: Chinook runs (referring to ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,"DART Data Citation. Columbia River DART, Colum...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.to_csv('total_data.csv')