In [1]:
# Dependencies
import pandas as pd
import glob

In [2]:
# Create path to files, join, create df                            #https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe
df = pd.concat(map(pd.read_csv, glob.glob('Resources/*.csv')))
df

,Project,Date,Chinook Run,Chin,JChin,Stlhd,WStlhd,Sock,Coho,JCoho,Shad,Lmpry,BTrout,Chum,Pink,TempC
0,Bonneville,3/15/1990,Sp,2.0,NaN,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.7
1,Bonneville,3/16/1990,Sp,1.0,NaN,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2
2,Bonneville,3/17/1990,Sp,2.0,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.7
3,Bonneville,3/18/1990,Sp,1.0,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2
4,Bonneville,3/19/1990,Sp,NaN,NaN,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,Bonneville,2/4/2022,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Bonneville,2/5/2022,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Bonneville,2/6/2022,NaN,NaN,NaN,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Bonneville,2/7/2022,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Bonneville,2/8/2022,NaN,NaN,NaN,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.to_csv('total_data.csv', index=False)