In [1]:
# Import the dependencies.
import pandas as pd
from path import Path

In [2]:
# DART url
url = 'http://www.cbr.washington.edu/dart/cs/php/rpt/adult_daily.php?sc=1&outputFormat=csv&year=2000&proj=BON&span=yes&startdate=1%2F1&enddate=12%2F31&run=&syear=2000&eyear=2010'

In [3]:
bFishURL = pd.read_csv(url)
bFishURL

,Project,Date,Chinook Run,Chin,JChin,Stlhd,WStlhd,Sock,Coho,JCoho,Shad,Lmpry,BTrout,Chum,Pink,TempC
0,Bonneville,2000-03-15,Sp,4.0,NaN,58.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.3
1,Bonneville,2000-03-16,Sp,3.0,NaN,45.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.4
2,Bonneville,2000-03-17,Sp,4.0,NaN,38.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.3
3,Bonneville,2000-03-18,Sp,2.0,NaN,45.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.3
4,Bonneville,2000-03-19,Sp,6.0,NaN,32.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,Steelhead Counts: The Steelhead parameter incl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
510,wild steelhead data was not published on a dai...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
511,steelhead and may include unmarked hatchery fish.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
512,Chinook Run Dates: Chinook runs (referring to ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
513,"DART Data Citation. Columbia River DART, Colum...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
bFishURL.drop(bFishURL.index[496:514],axis=0,inplace=True)

In [5]:
bFishURL.tail()

,Project,Date,Chinook Run,Chin,JChin,Stlhd,WStlhd,Sock,Coho,JCoho,Shad,Lmpry,BTrout,Chum,Pink,TempC
491,Bonneville,2001-11-15,Fa,90.0,12.0,42.0,6.0,NaN,18.0,NaN,NaN,NaN,NaN,3.0,NaN,11.0
492,Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
493,Columbia River DART,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
494,Adult Passage Daily Counts at Bonneville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
495,1/1/2000 - 12/31/2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN